<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GChan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <GChan.Properties.Settings>
      <setting name="SavePath" serializeAs="String">
        <value>C:\GChan</value>
      </setting>
      <setting name="ScanTimer" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="SaveHTML" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsFirstStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SaveListsOnClose" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MinimizeToTray" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WarnOnClose" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AddThreadSubjectToFolder" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ImageFilenameFormat" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ThreadFolderNameFormat" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AddUrlFromClipboardWhenTextboxEmpty" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartWithWindowsMinimized" serializeAs="String">
        <value>False</value>
      </setting>
    </GChan.Properties.Settings>
  </userSettings>
</configuration>
