<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">

	<variable name="logsDirectory" value="" />
	<variable name="myLayout" value="${longdate} [${level}] ${message} ${callsite-filename}:${callsite-linenumber} ${exception:format=ToString,Data,Properties:separator=\n:exceptionDataSeparator=\n:maxInnerExceptionLevel=3}" />

    <targets>
        <target name="console" xsi:type="Console" layout="${myLayout}" />
        <target name="debugger" xsi:type="Debugger" layout="${myLayout}" />
        <target name="file" xsi:type="File" fileName="${logsDirectory}/${processname}.log" archiveOldFileOnStartup="true" maxArchiveFiles="5" layout="${myLayout}" />
    </targets>

    <rules>
		<logger name="*" minlevel="Trace" writeTo="console,debugger,file" />
    </rules>
</nlog>